{% extends "base.html" %}

{% block title %}photo_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}

<div id="content"  class="centered">

    <p class="centered">
    {% if object.get_newer_photo %}
        <a href="{{ object.get_newer_photo.get_absolute_url }}" title="다음 사진">
            {{ object.get_newer_photo }} &laquo;--
        </a>
    {% else %}
        끝사진
    {% endif %}
    &nbsp;&nbsp; | &nbsp;&nbsp;
    {% if object.get_older_photo %}
        <a href="{{ object.get_older_photo.get_absolute_url }}" title="이전 사진">
            --&raquo; {{ object.get_older_photo }}
        </a>
    {% else %}
        첫사진
    {% endif %}
</p>

    <h2>{{ object.title }}</h2>
    <table class="photo-detail">
        <tr>
            <td>
                <a href="{{ object.image.url }}">
                    <img style="max-width:100%" src="{{ object.image.url }}" />
                </a>
            </td>
            <td>
                <ul>
                    <li>설명</li>
                    {% if object.description %}
                        <p>{{ object.description|linebreaks }}</p>
                    {% else %}
                        <p>(사진에 대한 설명이 없습니다)</p>
                    {% endif %}
                    <li>등록 일시</li>
                    <p>{{ object.upload_date|date:"Y년 m월 d일 / h시 m분 s초" }}</p>
                    <!--https://docs.djangoproject.com/en/dev/ref/templates/builtins/?from=olddocs-->
                    <li>앨범</li>
                    <p><a href="{% url 'photo:album_detail' object.album.id %}">{{ object.album.name }}</a></p>
                </ul>
            </td>
        </tr>
    </table>
</div>
{% endblock %}














